
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/dist/css/bulma.css" th:href="@{/dist/css/bulma.css}" rel="stylesheet" type="text/css">
    <title>Log in</title>
</head>
<body>
<div th:insert="fragments/header :: header-no-login"></div>

<div class="level">
    <div class="level-item">
        <form th:action="@{/user/login}" method="post">
            <label class="label"> Login </label>
            <input type="text" placeholder="Login" name="username"
                   class="input">
            <label class="label"> Password </label>
            <input type="password" id="password" placeholder="Password" name="password"
                   class="input password-field">
            <div class="form-actions">
            <button type="submit" class="button is-link">Log in</button>
            </div>
        </form>


    </div>
</div>
<div class="level">
<p class="level-item">Not a member?&nbsp;<a href="register">Register!</a></p>
</div>
<footer th:insert="fragments/footer"></footer>
</body>
</html>