<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Panel</title>
    <link href="/dist/css/bulma.css" rel="stylesheet" type="text/css">

</head>
<body>

<div th:insert="fragments/header :: header-no-login"></div>
<div class="container is-vcentered">
    <div class="level">

        <div class="level-item">

            <form action="#" th:action="@{/register-user}" th:object="${dto}" method="post">

                <table class="table">

                        <label class="label title is-3 level-item has-text-centered ">Registration Form</label>


                    <tr class="field">
                        <td class="field-label">First Name</td>
                        <td><input type="text" placeholder="First Name" name="firstName" th:field="*{firstName}"
                                   class="input">
                        </td>
                    </tr>
                    <tr class="field">
                        <td class="field-label">Last Name</td>
                        <td><input type="text" placeholder="Last Name" name="lastName" class="input"></td>
                    </tr>
                    <tr class="field">
                        <td class="field-label">Login</td>
                        <td><input type="text" placeholder="Login" name="login" class="input"></td>
                    </tr>
                    <tr class="field">
                        <td class="field-label">Password</td>
                        <td><input type="password" placeholder="Password" name="password"
                                   class="input password-field"></td>
                    </tr>
                    <tr class="field">
                        <td class="field-label">Confirm Password</td>
                        <td><input type="password" placeholder="Confirm Password" name="confirmPassword"
                                   class="input color password-field"></td>
                    </tr>
                    <!-- <tr class=>
                         <td colspan="2"><input type="submit" name="submit"
                                                value="Register" class="button is-primary"></td>
                     </tr>-->
                </table>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Submit</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>
