<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/dist/css/bulma.css" rel="stylesheet" type="text/css">
    <title>Log in</title>
</head>
<body>
<div th:insert="fragments/header :: header-no-login"></div>

<div class="level">
<div class="level-item">
<form >
    <label class="label"> Login </label>
    <input type="text" placeholder="Login" name="login"
    class="input">
    <label class="label"> Password </label>
    <input type="password" placeholder="Password" name="password"
    class="input password-field">
</form>
</div>
</div>
<footer th:insert="fragments/footer"></footer>
</body>
</html>